<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Player Teams</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div id="loginForm">
        <h1>Login</h1>
        <form action="/login" method="post">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">Login</button>
        </form>
    </div>
    <div id="welcomeMessage" class="hidden">
        <h2>Szia Ceru!</h2>
        <form action="/logout">
            <button type="submit">Logout</button>
        </form>
    </div>
    <script>
        window.onload = function() {
            {% if logged_in %}
                // Remove 'hidden' class from elements when logged in
                document.getElementById('loginForm').style.display = 'none';
                const hiddenItems = document.querySelectorAll('.hidden');
                hiddenItems.forEach(item => {
                    item.classList.remove('hidden');
                });
            {% endif %}
        }
    </script>
    <h1>Player Selection</h1>
    <form method="POST">
        <ul>
            {% for player in players %}
                <li>
                    <input type="checkbox" name="players" value="{{ player.name }}">{{ player.name }}
                    <li class="hidden">Defence: {{ player.defence }}, Attack: {{ player.attack }}, Skill: {{ player.skill }}, Stamina: {{ player.stamina }}</li>
                </li>
            {% endfor %}
        </ul>
        <button type="submit">Create Teams</button>
    </form>

    {% if teams %}
        <h2>Teams</h2>
        <h3>Team Black {{teams[2]}}</h3>
        <ul>
            {% for player in teams[0] %}
                <li>{{ player.name }} - Defence: {{ player.defence }}, Attack: {{ player.attack }}, Skill: {{ player.skill }}, Stamina: {{ player.stamina }}</li>
            {% endfor %}
        </ul>
        <h3>Team White {{teams[3]}}</h3>
        <ul>
            {% for player in teams[1] %}
                <li>{{ player.name }} - Defence: {{ player.defence }}, Attack: {{ player.attack }}, Skill: {{ player.skill }}, Stamina: {{ player.stamina }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <h2>Add/Update Player</h2>
    <form method="POST" action="{{ url_for('add_player') }}">
        <input type="text" name="name" placeholder="Player Name" required>
        <input type="number" name="defence" placeholder="Defence (0-10)" min="0" max="10" required>
        <input type="number" name="attack" placeholder="Attack (0-10)" min="0" max="10" required>
        <input type="number" name="skill" placeholder="Skill (0-10)" min="0" max="10" required>
        <input type="number" name="stamina" placeholder="Stamina (0-10)" min="0" max="10" required>
        <button type="submit">Add Player</button>
    </form>

    <h2>Delete Player</h2>
    <form method="POST" action="{{ url_for('delete_player') }}">
        <ul>
            {% for player in players %}
                <li>
                    <input type="checkbox" name="delete_players" value="{{ player.name }}">
                    {{ player.name }}
                </li>
            {% endfor %}
        </ul>
        <button type="submit">Delete Selected Players</button>
    </form>
</body>
</html>
