<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teams</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script>
        function refreshPage() {
            location.reload(); // This function refreshes the page
        }
    </script>
</head>
<body>
    <script>
        window.onload = function() {
            {% if logged_in %}
                // Remove 'hidden' class from elements when logged in
                const hiddenItems = document.querySelectorAll('.hidden');
                hiddenItems.forEach(item => {
                    item.classList.remove('hidden');
                });
            {% endif %}
        }
    </script>
    {% if teams %}
    <h1>Teams</h1>
    <form style="background-color:black">
        <font color="#d4d4d4">
        <h2 class="black_team">Team Black - Value: {{teams[2]}}</h2>
        <ul>
            {% for player in teams[0] %}
                <h3 class="black_team">{{ player.name }}</h3>
                <li class="hidden">Defence: {{ player.defence }}, Attack: {{ player.attack }}, Skill: {{ player.skill }}, Stamina: {{ player.stamina }}, Speed: {{ player.speed}}</li>
            {% endfor %}
        </ul>
        </font>
    </form>
    <form>
        <h2>Team White - Value: {{teams[3]}}</h2>
        <ul>
            {% for player in teams[1] %}
                <h3 class="white_team">{{ player.name }}</h3>
                <li class=hidden>Defence: {{ player.defence }}, Attack: {{ player.attack }}, Skill: {{ player.skill }}, Stamina: {{ player.stamina }}, Speed: {{ player.speed }}</li>
            {% endfor %}
        </ul>
    </form>
    <form onsubmit="event.preventDefault(); refreshPage();">
        <button type="submit">Try again!</button>
    </form>
    <form action="{{ url_for('index') }}">    
        <button type="submit">Back to player selection</button>
    </form>
    {% endif %}
</body>
</html>
